body {
    background-color: blueviolet;
}

.main_footer {
    background-color:#FFA500;
    clear:both;
    text-align:center;
}
.return {
    background-color:#FFA500;
    text-align: center;
}

.main_title{
  background-color:#FFA500;
  text-align:center;
  height: 60px;
}

.H1-Main-Title{
max-height: 19px;
}

.navbar-ul{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color:#ffd900;
  height: 20px;
  
}
.bar-button a{
  flex:1;
}

.bar-button{
  text-decoration: none;
}
  
.navbar-ul-tc{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color:#ffd900;
    height: 25px;
    margin-top: 30px;
    
  }
.bar-button-tc a{
    flex:1;
  }
  
.bar-button-tc{
    text-decoration: none;
  }

.navbar-ul-sc{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color:#ffd900;
    height: 25px;
    margin-top: 30px;
    
  }
.bar-button-sc a{
    flex:1;
  }
  
.bar-button-sc{
    text-decoration: none;
  }

.main_footer_images{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

}
.footer_image img{
  flex: 1;
  max-width: 88px;
  max-height: 31px;
  margin-left: 10px;
}
#footer_image_special_logo img{
  max-width: 106px;
  background-color: white;
}

.paragraph{
  text-align: left;
  border: solid #228cb6;
  color:#ffd900;
  background-color: #228cb6;
  font-weight: bold;
}

.language-bar{
  display: flex;
  flex-wrap: nowrap;
  float: right;
}

.language{
  font-size: 28px;
  margin-left: 15px;
}

.language-EN{
  font-size: 35px;
  margin-left: 15px;
}

.heading-img{
  width: 55px;
  margin-bottom: -15px;
  padding-right: 15px;
}

.boat-heading{
  text-decoration: none;
}

.h1-heading{
  font-size: 2.125rem;
  font-weight: bold;
}

.sitemap-heading-img{
  padding-top: 5px;
  width: 35px;
}
